# Backupfiles from mergetools #
*.orig

# Java Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip

# Eclipse #
/.project
/.settings
bin/**

# IntelliJ IDEA #
.idea/
*.iml
out/

# macOS #
.DS_Store

# Linux #
.swp

# Log files #
*.log

# Temporary files #
*.bak
*.tmp
*.swp

# Maven #
**/target/
target/

/.mvn
/.maven
/.repository
.flattened-pom.xml
